@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Elsie+Swash+Caps:400,900');
/* This is a comment! */

/* CSS Syntax:
<<<<<<< HEAD
=======

>>>>>>> origin/site-style
selector {
  property: value;
  property: value;
}
<<<<<<< HEAD
=======

>>>>>>> origin/site-style
*/

/* Type selector */

p { /* select all <p> */
  font-size: 1em; /* 16px, ?pt (not always same size in apps/browsers), 100% (relative amount dependent), 1em (relative amount measured by width of m 1m = 16px) */
  line-height: 1.5em;
}

figcaption {
  /* font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif; */
  font: normal, 0.75em/1.5em "Elsie Swash Caps", cursive;
  color: #777;
  text-align: right;
}

/* Class selector (applied to as many elements as you like) */

.milk-text { /* select elements with class="milk-text" */
  font: bold 2.6em, "Elsie Swash Caps", cursive;
  color: white;
  text-shadow: 0 2px 3px #000;
}

/* ID selector (apply to one unique elements per page)*/

#logo { /* select elements with id="logo" */
  background-color: aqua;
}

/* Descendent selector */

#logo h1 { /* only style <h1> if inside elements with id="logo" */
  font-family: "Clicker Script", cursive;
}

#logo h2 {
  font-family: "Elsie Swash Caps", cursive;
}

/* Pseudo Selector */

#details a:link, #details a:visited {
  color: black;
  text-decoration: none;
}

#details a:hover {
  color: black;
  text-decoration: underline;
}

#details a:active {
  color: red;
}
